<!DOCTYPE html>
<html>
    <head>
        <title>
            Wholesome Memes Search
        </title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href = "memes.css" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/v4-shims.css">

    </head>
    <body>
        <div class="container wholesomememe text-center" id="wholesomememe">
            <div class="two-buttons">
                <h1 style="margin-top: 2em;">Random r/Wholesome Memes Generator</h1>
                <h3 class="text-info text-center">Choose how many random memes you would like to generate.</h3>
                <img src="Two-Buttons.jpg" />
                <div id="example">
                  </div>
                <div class="button-box">
                    <a href="#random-memes"><button class="button"  v-on:click="searchOneMeme">1 Wholesome Meme</button></a>
                    <a href="#random-memes"><button class="button button2" v-on:click="searchTwoMemes">2 Wholesome Memes</button></a>
                </div>

            </div>
            <div>
                <hr> 
    
                <small>
                  Connect with Eric! @ 
                  <a href="https://www.linkedin.com/in/ericshi6/" target="_blank">LinkedIn <i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                  / <a href="https://github.com/ericshi6" target="_blank">GitHub <i class="fa fa-github"></i></a>
                  <!--/ <a href="https://ericshi6.github.io/portfolio/" target="_blank">Portfolio</a> -->
    
                </small>
                <hr>
            </div>
            <h1>Random Memes:</h1>


            <div id="random-memes" style="max-width: 80vw; max-height: 700px;">
                <div v-for="meme in wholesomememes.memes">
                    <img v-bind:src="meme.url" style="width: 100%;"/><hr>

                </div>
                <div v-if="wholesomememes.author">
                    <img v-bind:src="wholesomememes.url" style="width: 100%;">
                </div>

            </div>
            
    
        </div>


        <script src = "memes.js"></script>

    </body>
</html>
